<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="iSeries Editing"
            icon="icons/perspective.gif"
            class="com.softlanding.rse.extensions.perspective.EditingPerspectiveFactory"
            id="com.softlanding.rse.extensions.perspective.EditingPerspectiveFactory">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.ibm.etools.systems.core.ui.view.SystemPerspective">
         <perspectiveShortcut
               id="com.softlanding.rse.extensions.perspective.EditingPerspectiveFactory">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>

   <extension-point id="save" name="Spooled File Conversion Types" schema="schema/save.exsd"/>

   <extension
         id="com.softlanding.rse.extensions.spooledfiles.extension"
         name="%spooledFiles"
         point="org.eclipse.ui.views">
      <view
            name="%spooledFiles"
            icon="icons/spooled_files.gif"
            category="com.ibm.etools.iseries.views"
            class="com.softlanding.rse.extensions.spooledfiles.SpooledFilesView"
            id="com.softlanding.rse.extensions.spooledfiles.SpooledFilesView">
      </view>
   </extension>
   
   <extension point="org.eclipse.core.runtime.preferences">
   		<initializer class="com.softlanding.rse.extensions.PreferenceInitializer"/>
   </extension>   
   
   <extension point="org.eclipse.ui.preferencePages">
   		<page name="%rseExtensions" category="com.ibm.etools.iseries.core.ui.preferences.ISeriesPreferencePage" class="com.softlanding.rse.extensions.RSEExtensionsPreferences" id="com.softlanding.rse.extensions.RSEExtensionsPreferences" /> 
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="com.softlanding.rse.extensions.spooledfiles.SpooledFileModel"
            nameFilter="*"
            id="com.softlanding.rse.extensions.spooledfiles.actions">
         <action
               label="%saveToFile"
               class="com.softlanding.rse.extensions.spooledfiles.SpooledFileSaveAction"
               menubarPath="openViewSave"
               enablesFor="*"
               id="com.softlanding.rse.extensions.spooledfiles.popupMenus.save">
         </action>
         <action
               label="%view"
               class="com.softlanding.rse.extensions.spooledfiles.SpooledFileViewAction"
               menubarPath="openViewSave"
               enablesFor="*"
               id="com.softlanding.rse.extensions.popupMenus.view">
         </action>
         <action
               label="%openTextEditor"
               class="com.softlanding.rse.extensions.spooledfiles.SpooledFileEditAction"
               menubarPath="openViewSave"
               enablesFor="*"
               id="com.softlanding.rse.extensions.spooledfiles.popupMenus.edit">
         </action>
         <action
               label="%delete"
               class="com.softlanding.rse.extensions.spooledfiles.SpooledFileDeleteAction"
               menubarPath="changeMoveDelete"
               enablesFor="*"
               id="com.softlanding.rse.extensions.spooledfiles.popupMenus.delete">
         </action>
         <action
               label="%move"
               class="com.softlanding.rse.extensions.spooledfiles.SpooledFileMoveAction"
               menubarPath="changeMoveDelete"
               enablesFor="*"
               id="com.softlanding.rse.extensions.spooledfiles.popupMenus.move">
         </action>
         <action
               label="%change"
               class="com.softlanding.rse.extensions.spooledfiles.SpooledFileChangeAction"
               menubarPath="changeMoveDelete"
               enablesFor="*"
               id="com.softlanding.rse.extensions.spooledfiles.popupMenus.change">
         </action>
         <action
               label="%messages"
               class="com.softlanding.rse.extensions.spooledfiles.SpooledFileMessageAction"
               menubarPath="holdReleaseMessage"
               enablesFor="*"
               id="com.softlanding.rse.extensions.spooledfiles.popupMenus.messages">
         </action>
         <action
               label="%release"
               class="com.softlanding.rse.extensions.spooledfiles.SpooledFileReleaseAction"
               menubarPath="holdReleaseMessage"
               enablesFor="*"
               id="com.softlanding.rse.extensions.spooledfiles.popupMenus.release">
         </action>
         <action
               label="%hold"
               class="com.softlanding.rse.extensions.spooledfiles.SpooledFileHoldAction"
               menubarPath="holdReleaseMessage"
               enablesFor="*"
               id="com.softlanding.rse.extensions.spooledfiles.popupMenus.hold">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="com.ibm.etools.systems.core.subsystemfactory">
      <factory
            systemtypes="iSeries"
            name="%subsystemName"
            iconlive="icons/spooled_files_connected.gif"
            icon="icons/spooled_files.gif"
            category="spooled files"
            class="com.softlanding.rse.extensions.subsystems.spooledfiles.SpooledFileSubSystemFactory"
            vendor="SoftLanding Systems, Inc."
            id="com.softlanding.rse.extensions.spooledfiles.subsystems.factory">
      </factory>
   </extension>
   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution
            subsystemfactoryid="ibm.files400"
            subtypefilter="*"
            typecategoryfilter="MEMBERS"
            typefilter="*"
            namefilter="*"
            id="com.softlanding.rse.extensions.subsystems.members.actions">
         <menu
               label="%rseExtensions"
               menubarPath="additions"
               id="com.softlanding.rse.extensions.menu">             
            <separator
                  name="group1">
            </separator>
         </menu> 
         <action
               label="%merge"
               class="com.softlanding.rse.extensions.compare.MergeAction"
               menubarPath="com.softlanding.rse.extensions.menu/group1"
               enablesFor="1"
               id="com.softlanding.rse.extensions.compare.MergeAction">
         </action>                     
         <action
               label="%compare"
               class="com.softlanding.rse.extensions.compare.CompareAction"
               menubarPath="com.softlanding.rse.extensions.menu/group1"
               enablesFor="1"
               id="com.softlanding.rse.extensions.compare.CompareAction">
         </action>                    
      </objectContribution>
      <objectContribution
            subsystemfactoryid="ibm.files400"
            subtypefilter="*"
            typecategoryfilter="OBJECTS"
            typefilter="*DTAARA"
            namefilter="*"
            id="com.softlanding.rse.extensions.subsystems.objects.actions">
         <menu
               label="%rseExtensions"
               menubarPath="additions"
               id="com.softlanding.rse.extensions.menu">             
            <separator
                  name="group1">
            </separator>
         </menu> 
         <action
               label="Change Data Area"
               class="com.softlanding.rse.extensions.dataareas.ChangeDataAreaAction"
               menubarPath="com.softlanding.rse.extensions.menu/group1"
               id="com.softlanding.rse.extensions.dataareas.ChangeDataAreaAction">
         </action>                             
      </objectContribution>      
      <objectContribution
            subsystemfactoryid="com.softlanding.rse.extensions.spooledfiles.subsystems.factory"
            subtypefilter="*"
            typecategoryfilter="*"
            typefilter="*"
            namefilter="*"
            id="com.softlanding.rse.extensions.subsystems.spooledfiles.actions">
         <menu
               label="Actions"
               id="com.softlanding.rse.extensions.subsystems.spooledfiles.menu">
            <separator
                  name="group1">
            </separator>
            <separator
                  name="group2">
            </separator>
         </menu>
         <action
               label="%saveToFile"
               class="com.softlanding.rse.extensions.subsystems.spooledfiles.SavePopupMenuExtensionAction"
               enablesFor="+"
               id="com.softlanding.rse.extensions.subsystems.spooledfiles.SavePopupMenuExtensionAction">
         </action>
         <action
               label="%view"
               class="com.softlanding.rse.extensions.subsystems.spooledfiles.ViewPopupMenuExtensionAction"
               enablesFor="+"
               id="com.softlanding.rse.extensions.subsystems.spooledfiles.ViewPopupMenuExtensionAction">
         </action>
         <action
               label="%openTextEditor"
               class="com.softlanding.rse.extensions.subsystems.spooledfiles.EditPopupMenuExtensionAction"
               enablesFor="+"
               id="com.softlanding.rse.extensions.subsystems.spooledfiles.EditPopupMenuExtensionAction">
         </action>
         <action
               label="%move"
               class="com.softlanding.rse.extensions.subsystems.spooledfiles.MovePopupMenuExtensionAction"
               menubarPath="com.softlanding.rse.extensions.subsystems.spooledfiles.menu/group1"
               enablesFor="+"
               id="com.softlanding.rse.extensions.subsystems.spooledfiles.MovePopupMenuExtensionAction">
         </action>
         <action
               label="%change"
               class="com.softlanding.rse.extensions.subsystems.spooledfiles.ChangePopupMenuExtensionAction"
               menubarPath="com.softlanding.rse.extensions.subsystems.spooledfiles.menu/group1"
               enablesFor="+"
               id="com.softlanding.rse.extensions.subsystems.spooledfiles.ChangePopupMenuExtensionAction">
         </action>
         <action
               label="%messages"
               class="com.softlanding.rse.extensions.subsystems.spooledfiles.MessagePopupMenuExtensionAction"
               menubarPath="com.softlanding.rse.extensions.subsystems.spooledfiles.menu/group2"
               enablesFor="+"
               id="com.softlanding.rse.extensions.subsystems.spooledfiles.MessagePopupMenuExtensionAction">
         </action>
         <action
               label="%release"
               class="com.softlanding.rse.extensions.subsystems.spooledfiles.ReleasePopupMenuExtensionAction"
               menubarPath="com.softlanding.rse.extensions.subsystems.spooledfiles.menu/group2"
               enablesFor="+"
               id="com.softlanding.rse.extensions.subsystems.spooledfiles.ReleasePopupMenuExtensionAction">
         </action>
         <action
               label="%hold"
               class="com.softlanding.rse.extensions.subsystems.spooledfiles.HoldPopupMenuExtensionAction"
               menubarPath="com.softlanding.rse.extensions.subsystems.spooledfiles.menu/group2"
               enablesFor="+"
               id="com.softlanding.rse.extensions.subsystems.spooledfiles.HoldPopupMenuExtensionAction">
         </action>
      </objectContribution>
      <objectContribution
            subsystemfactoryid="ibm.jobs400"
            subtypefilter="*"
            typecategoryfilter="JOBS"
            typefilter="*"
            namefilter="*"
            id="com.softlanding.rse.extensions.subsystems.spooledfiles.jobs">
         <action
               label="%spooledFiles"
               icon="icons/spooled_files.gif"
               class="com.softlanding.rse.extensions.subsystems.spooledfiles.JobPopupMenuExtensionAction"
               enablesFor="1"
               id="com.softlanding.rse.extensions.subsystems.spooledfiles.JobPopupMenuExtensionAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="com.softlanding.rse.extensions.save">
      <type
            prtdevtypefilter="*SCS"
            name="Plain Text"
            class="com.softlanding.rse.extensions.spooledfiles.SaveToTextFile"
            file_extension="txt"
            id="com.softlanding.rse.extensions.spoolfiles.type_text">
      </type>
      <type
            name="TIFF"
            class="com.softlanding.rse.extensions.spooledfiles.SaveToTiffFile"
            file_extension="tiff"
            id="com.softlanding.rse.extensions.spoolfiles.type_tiff">
      </type>
   </extension>
   <extension
         point="com.ibm.etools.systems.core.propertyPages">
      <page
            subsystemfactoryid="com.softlanding.rse.extensions.spooledfiles.subsystems.factory"
            name="Spooled File Info"
            subtypefilter="*"
            typecategoryfilter="*"
            typefilter="*"
            class="com.softlanding.rse.extensions.subsystems.spooledfiles.SpooledFileProperties"
            namefilter="*"
            id="com.softlanding.rse.extensions.subsystems.spooledfiles.SpooledFileProperties">
      </page>
   </extension>
  <extension
         point="com.ibm.etools.systems.core.subsystemfactory">
      <factory
            systemtypes="iSeries"
            name="iSeries Messages"
            iconlive="icons/messages_connected.gif"
            icon="icons/messages.gif"
            category="queued messages"
            class="com.softlanding.rse.extensions.messages.QueuedMessageSubSystemFactory"
            vendor="SoftLanding Systems, Inc."
            id="com.softlanding.rse.extensions.messages.factory">
      </factory>
   </extension>
   <extension
         point="com.ibm.etools.systems.core.popupMenus">
      <objectContribution
            subsystemfactoryid="com.softlanding.rse.extensions.messages.factory"
            subtypefilter="*"
            typecategoryfilter="*"
            typefilter="*"
            namefilter="*"
            id="com.softlanding.rse.extensions.messages.queuedmessages">
         <action
               label="Message Details"
               class="com.softlanding.rse.extensions.messages.QueuedMessageDetailsPopupMenuExtensionAction"
               enablesFor="1"
               id="com.softlanding.rse.extensions.messages.QueuedMessageDetailsPopupMenuExtensionAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="com.softlanding.rse.extensions.messages.QueuedMessageSubSystem"
            name="Message Queue Monitoring"
            nameFilter="*"
            class="com.softlanding.rse.extensions.messages.MonitoringProperties"
            id="com.softlanding.rse.extensions.messages.MonitoringProperties">
      </page>
   </extension>


</plugin>
